HELP.md
.env
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
.idea/
.idea/workspace.xml

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# 빌드 결과물
target/
*.class
*.jar
*.war

# 로그
*.log

# 환경 설정 (민감정보)
# 로컬 환경 설정 파일
src/main/resources/application-local.properties
src/main/resources/application-local.yml

# 민감 정보가 포함된 프로파일
**/application-local.*
**/application-secret.*
**/application-prod.properties
application-local.*
application-secret.*
application-prod.properties
# 기타
local.properties

# 민감 정보
*-secret.properties
*-secret.yml
